<?xml version="1.0"?>
<launch>
  <arg name="prefix" default=""/>
  <arg name="robot_name" default="kuka_structure"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kuka_structure_description)/urdf/kuka_structure_rviz.xacro' robot_name:=$(arg robot_name) prefix:=$(arg prefix)"/>
</launch>
