<launch>
  <arg name="gui" default="false"/>
  <arg name="paused" default="false"/>

  <include file="$(find kuka_structure_gazebo)/launch/kuka_structure_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)" />
  </include>

  <include file="$(find kuka_structure_gazebo)/launch/kuka_structure_control.launch">
  </include>
</launch>
