<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="kuka_structure" params="name:='kuka_structure'
                                             prefix:=''
                                             interface:=hardware_interface/EffortJointInterface
                                             master_id:=0
                                             use_fake_hardware:=false">

    <xacro:include filename="$(find kuka_structure_description)/urdf/kuka_structure_robot.xacro" />
    <xacro:kuka_structure_robot prefix="${prefix}"/>

    <xacro:include filename="$(find kuka_structure_description)/urdf/kuka_structure_transmission.xacro" />
    <xacro:kuka_structure_transmission prefix="${prefix}" interface="${interface}"/>

    <xacro:include filename="$(find kuka_structure_description)/urdf/kuka_structure_ros2_control.xacro" />
    <xacro:kuka_structure_ros2_control name="${name}" 
                                       prefix="${prefix}" 
                                       master_id="${master_id}"
                                       use_fake_hardware="${use_fake_hardware}"/>

  </xacro:macro>
</robot>
