<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="kuka_structure_roscontrol"  params="prefix">

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>${prefix}/kuka_structure</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo reference="${prefix}base_link">
    <gravity>true</gravity>
    <selfCollide>false</selfCollide>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="${prefix}link_1">
    <gravity>true</gravity>
    <selfCollide>false</selfCollide>
    <material>Gazebo/Grey</material>
  </gazebo>

</xacro:macro>
</robot>
